/* Estilos para todo el proyecto */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

:root {
    --bg-color: black;
    --primary-color: #d1d1d1;
    --secondary-color: #343d58;
    --third-color: #ffffff;
    --accent-color: #a8dadc;
    --bg-input-color: #ff8d30;
}

.contenedor-centrado {
    background-color: var(--primary-color);
    opacity: 0.6;
    display:flex;
    width: 750px;
    height: 75px;
    justify-content: center;
    align-items: center;
}

.contenedor-centrado:hover{
    background-color: var(--third-color);
}

.logo-centrado{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 120px;
}

.navbar-index{
    margin: 0;
    padding: 0;

    top: 0;
    width: 100vw;
    height: 100px;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    
    overflow: hidden;
    margin-bottom: 20px;
    position: fixed !important; 
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.logo-nav{height: 80%;
    overflow: hidden;
    margin-left: 1em;
    border-radius: 50%;
}

.img-osky{
    width: 180px;
    border-radius: 50%;
}

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
}


body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: var(--primary-color);
}

h4,
h5,
h6,
p,
a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    max-width: 400px;
    color: var(--accent-color);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

a {
    text-decoration: none;
    padding: 10px;
    margin:4px;
    color: #1d1a39;
    border: none;
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--secondary-color);
    border: 1px solid lightslategray;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

table {
    max-width: 120%;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    box-shadow: 10px 10px 20px whitesmoke(0, 0, 0, 0.5);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
input[type="number"],
textarea {
    width: 10%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
input[type="file"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
input[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

button {
    font-family: 'Lato', sans-serif;
    padding: 8px;
    margin:4px;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

select{
    border-radius: 5%;
    height: 30px;
    width: 200px;
}